//Define Variables
//Colors:
$dark: #151618; // Dark color -> backgrounds
$midnight: #2c3e50; // Dark color -> backgrounds 2
$nephritis: #27ae60; // Green -> accent color
$belize: #2980b9; // Blue -> accent color 2
$wisteria: #8e44ad; // Violet -> accent color 3
$pomegranate: #e74c3c; // Red -> accent color 4
$border-color: #dbdbdb;// Dark grey -> border color